<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>myfamily-iPad</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../css/myfamily.css">

</head>
<body onselectstart="return false" style="-moz-user-select:none;">
<!-- head start -->
<div class="myFamily_head">
    <div class="myfaHeadCont clearfix">
        <div class="logoBox clearfix fl">
            <img class="logo" src="../images/logo.png">
            <img class="myfamily" src="../images/myfamily.png">

            <div class="personP">
                <a href="##" class="personName">
                    <span class="person">狐小美</span><span class="wrap">
                    (</span><a href="javascript:;"><span class="personNum">0201816</span></a><span class="wrap">)</span>
                </a>
            </div>
        </div>
        <div class="myfaHeadContRight fr clearfix">
            <div class="fr more">
                <img src="../images/nav/more.gif">
            </div>
            <div class="searchBox fl">
                <img src="../images/searchBar.png">
                <input type="text" name="" placeholder="请输入您要查找的内容">
            </div>
            <div class="suggBox fl">
                <img src="../images/nav/yuangongjianyi_ty.png">

            </div>
            <div class="talkBox fl">
                <img src="../images/nav/yuangongqingsu_ty.png">

            </div>

            <div class="workMenuBox fr">
                <p class="workMenu">Hi~狐小美</p>

                <p class="logout">注销</p>
            </div>

        </div>
    </div>
</div>
<!-- head end -->

<!-- container start -->
<div class="myFamily_cont clearfix">
    <!-- cont_left start -->
    <div class="cont_left fl">
        <div class="workInfo">
            <div class="iPadNone">
                <!-- 人员信息 start-->
                <div class="personInfoBox clearfix">
                    <div class="personImgBox fl">
                        <img class="personImg" src="../images/girl.png">
                    </div>
                    <div class="personInfo fl">
                        <div class="person">
                            <a href="##" class="personName">
                                <span class="person">狐小美</span>
                                <a href="javascript:;">(<span class="personNum">0201816</span>)</a>
                            </a>
                        </div>
                        <div class="jobInfo clearfix">
                            <p class="rankBox fl">职级 <span class="rank">3B</span></p>

                            <p class="fl">职位 <span class="position">产品经理</span></p>
                        </div>
                    </div>
                </div>
                <!-- 人员信息 end-->
                <div class="redShadow"></div>
                <!-- 菜单列表 start -->
                <div class="menuInfo">
                    <ul class="menuBox">
                        <li class="menuList">
                            <div class="menuTit clearfix">
                                <img class="icons fl" src="../images/icons/purse1.png">
                                <h5 class="fl">财务相关</h5>
                                <i class="icon_right"></i>
                            </div>
                            <ul class="menuChildBox">
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                            </ul>
                        </li>
                        <li class="menuList">
                            <div class="menuTit clearfix">
                                <img class="icons fl" src="../images/icons/people1.png">
                                <h5 class="fl">人事相关</h5>
                                <i class="icon_right"></i>
                            </div>
                            <ul class="menuChildBox">
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>

                            </ul>
                        </li>
                        <li class="menuList">
                            <div class="menuTit clearfix">
                                <img class="icons fl" src="../images/icons/purse1.png">
                                <h5 class="fl">财务相关</h5>
                                <i class="icon_right"></i>
                            </div>
                            <ul class="menuChildBox">
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                            </ul>
                        </li>
                        <li class="menuList">
                            <div class="menuTit clearfix">
                                <img class="icons fl" src="../images/icons/pen1.png">
                                <h5 class="fl">办公相关</h5>
                                <i class="icon_right"></i>
                            </div>
                            <ul class="menuChildBox">
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                            </ul>
                        </li>
                        <li class="menuList">
                            <div class="menuTit clearfix">
                                <img class="icons fl" src="../images/icons/law1.png">
                                <h5 class="fl">法务相关</h5>
                                <i class="icon_right"></i>
                            </div>
                            <ul class="menuChildBox">
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                            </ul>
                        </li>
                        <li class="menuList">
                            <div class="menuTit clearfix">
                                <img class="icons fl" src="../images/icons/business1.png" style="margin-top:16px;">
                                <h5 class="fl">业务相关</h5>
                                <i class="icon_right"></i>
                            </div>
                            <ul class="menuChildBox">
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                                <li class="menuChild clearfix">
                                    <img class="icons fl" src="../images/icons/money1.png">
                                    <h5 class="fl">薪酬福利</h5>
                                </li>
                            </ul>
                        </li>
                        <li class="menuList">
                            <div class="menuTit clearfix">
                                <img class="icons fl" src="../images/icons/more1.png" style="margin-top:22px;">
                                <h5 class="fl">更多</h5>
                                <i class="icon_right"></i>
                            </div>

                        </li>

                    </ul>
                </div>
                <!-- 菜单列表 end -->
            </div>

            <!-- 知识库 start -->
            <div class="repository knowledge">
                <div class="repHead">
                    <span class="fl">知识库</span>
                    <img class="iconMore fr" src="../images/right.png">
                    <span class="more fr">更多</span>
                </div>
                <div class="repCont">
                    <div class="repList clearfix">
                        <img class="repListImg fl" src="../images/excel.png">

                        <div class="repListCont fl">
                            <h6><a href="javascript:;">工作流、OA双周会议纪要V1.0</a></h6>

                            <div class="clearfix">
                                <p class="download fl">下载量 <span>8</span></p>

                                <p class="read fr">阅读量 <span>28</span></p>
                            </div>
                        </div>
                        <img class="new fr" src="../images/new.png">
                    </div>
                    <div class="repList clearfix">
                        <img class="repListImg fl" src="../images/word.png">

                        <div class="repListCont fl">
                            <h6><a href="javascript:;">合同打印（三期）方案确认会议纪要 v1.0</a></h6>

                            <div class="clearfix">
                                <p class="download fl">下载量 <span>20</span></p>

                                <p class="read fr">阅读量 <span>56</span></p>
                            </div>
                        </div>
                        <img class="new fr" src="../images/new.png">
                    </div>
                    <div class="repList clearfix">
                        <img class="repListImg fl" src="../images/word2.png">

                        <div class="repListCont fl">
                            <h6><a href="javascript:;">非员工发薪流程讨论_会议纪要_20161117</a></h6>

                            <div class="clearfix">
                                <p class="download fl">下载量 <span>11</span></p>

                                <p class="read fr">阅读量 <span>15</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="repList clearfix">
                        <img class="repListImg fl" src="../images/word2.png">

                        <div class="repListCont fl">
                            <h6><a href="javascript:;">FESCO医疗报销会议纪要</a></h6>

                            <div class="clearfix">
                                <p class="download fl">下载量 <span>10</span></p>

                                <p class="read fr">阅读量 <span>26</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 知识库 end -->

            <!-- 推荐圈子 start -->
            <div class="repository zone nobd">
                <div class="repHead">
                    <span class="fl">推荐圈子</span>
                    <img class="iconMore fr" src="../images/right.png">
                    <span class="more fr">更多</span>
                </div>
                <div class="scroll_horizontal">
                    <div class="swipeBox">
                        <ul class="swipeList clearfix" id="pic_list">
                            <li><a href="javascript:;"><img src="../images/swipe1.png"></a></li>
                            <li><a href="javascript:;"><img src="../images/swipe2.png"></a></li>
                            <li><a href="javascript:;"><img src="../images/swipe1.png"></a></li>
                            <li><a href="javascript:;"><img src="../images/swipe2.png"></a></li>
                        </ul>
                    </div>
                    <ul class="clickBarBoxTwo">
                        <li class="clickBar"></li>
                        <li class="clickBar"></li>
                    </ul>
                </div>
            </div>
            <!-- 推荐圈子 end -->

            <!-- 员工论坛 start -->
            <div class="repository nobd rbott">
                <div class="repHead">
                    <span class="fl">员工论坛</span>
                    <img class="iconMore fr" src="../images/right.png">
                    <span class="more fr">更多</span>
                </div>
                <div class="forumBox">
                    <div class="clearfix">
                        <p class="forum fl">
                            <a href="javascript:;">搜狐视频发布最新神齐，小伙伴速来围观，持续发酵中...</a>
                        </p>
                        <img class="hot fr" src="../images/hot.png">
                    </div>
                    <div class="replyBox clearfix">
                        <p class="fl">产品论坛</p>

                        <p class="reply fr">回复 <span>182</span></p>
                    </div>
                </div>
                <div class="forumBox">
                    <div class="clearfix">
                        <p class="forum fl"><a href="javascript:;">
                            搜狐视频发布最新神齐，小伙伴速来围观，持续发酵中...</a>
                        </p>
                        <img class="hot fr" src="../images/hot.png">
                    </div>
                    <div class="replyBox clearfix">
                        <p class="fl">幸福计划</p>

                        <p class="reply fr">回复 <span>182</span></p>
                    </div>
                </div>
            </div>
            <!-- 员工论坛 end -->
        </div>

    </div>
    <!-- cont_left end -->

    <!-- cont_right start -->
    <div class="cont_right fr">
        <!-- main swipe start -->
        <div class="compSwipeBox">
            <ul class="compSwipeList clearfix" id="comp_list">
                <li class="compList">
                    <a href="javascript:;" style="background-image: url('../images/snowman.png')">
                        <!--<img src="../images/snowman.png">--></a>
                </li>
                <li class="compList">
                    <a href="javascript:;" style="background-image: url('../images/snowman.png')">
                        <!--<img src="../images/snowman.png">--></a>
                </li>
                <li class="compList">
                    <a href="javascript:;" style="background-image: url('../images/snowman.png')">
                        <!--<img src="../images/snowman.png">--></a>
                </li>
                <!--<li class="compList">
                    <a href="javascript:;"><img src="../images/snowman.png"></a>
                </li>
                <li class="compList">
                    <a href="javascript:;"><img src="../images/snowman.png"></a>
                </li>-->
            </ul>

            <ul class="clickBarBox">
                <li class="clickBar active"></li>
                <li class="clickBar"></li>
                <li class="clickBar"></li>
            </ul>
        </div>
        <!-- main swipe end -->

        <div class="contRightCont clearfix">
            <div class="contRightCont_left fl">
                <div class="cutBox">
                    <h6 class="cutTit">快速通道</h6>

                    <div class="fu">
                        <ul class="cutListBox clearfix">
                            <li class="cutList fl active">
                                <img src="../images/pointer.png">

                                <p>会议室预定</p>
                            </li>
                            <li class="cutList fl">
                                <img src="../images/tools.png">

                                <p>维修中心</p>
                            </li>
                            <li class="cutList fl">
                                <img src="../images/jian.png">

                                <p>知识分享</p>
                            </li>
                            <li class="cutList fl">
                                <img src="../images/tv.png">

                                <p>PR单申请</p>
                            </li>
                            <li class="cutList fl phoneNone">
                                <img src="../images/submits.png">

                                <p>上传文档</p>
                            </li>
                            <li class="cutList fl phoneNone">
                                <img src="../images/quxian.png">

                                <p>快件查询</p>
                            </li>
                            <li class="cutMore fr">
                                <img src="../images/curDown.png">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="app clearfix">
                    <span class="fl">应用中心</span>
                    <a href="##" class="fr"><img src="../images/down-white.png"></a>
                </div>
                <div class="infoCenterBox">
                    <div class="cutTitBox clearfix">
                        <h6 class="cutTit fl">信息中心</h6>

                        <div class="cutToolsBox fr">
                            <div class="cutToolsTitBox">
                                <span class="allText">全部</span>
                                <i class="icon_down" id="cutToolsTit"></i>
                            </div>
                            <ul class="cutTools">
                                <li class="cutToolsList">全部</li>
                                <li class="cutToolsList">最新帖子</li>
                                <li class="cutToolsList">活动报名</li>
                                <li class="cutToolsList">信息公告</li>
                                <li class="cutToolsList">动态分享</li>
                                <li class="cutToolsList">话题榜</li>
                            </ul>
                        </div>
                    </div>
                    <div class="infoBoxWrap">
                        <div id="infoBox">
                            <ul class="infoBox">
                                <li class="clearfix infoListImg liTop">

                                    <div class="infoContBox">
                                        <div class="infoContTitBox clearfix">
                                            <h6 class="infoContTit fl"><a href="javascript:;">搜狐动力团
                                                齐鲁老师《安全与如何安全》课程回顾</a>
                                            </h6>
                                        </div>
                                        <div class="imgList">
                                            <ul class="imgItem clearfix">
                                                <li><img src="../images/family03.gif"/></li>
                                                <li><img src="../images/family03.gif"/></li>
                                                <li><img src="../images/family03.gif"/></li>
                                            </ul>
                                        </div>
                                        <div class="infoTool clearfix">
                                            <p class="fl">
                                                <img src="../images/infoImg.png">
                                                <span class="author">李炳权</span> . 发表于<span class="infoDays">20</span>天前
                                                <span class="infoBar">·培训平台-搜狐思想汇</span>
                                            </p>

                                            <div class="fr dw">
                                                <span class="infoStart fr">16</span>
                                                <span class="infoDisc fr">21</span>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li class="infoList clearfix liTop">

                                    <div class="infoContBox">
                                        <div class="infoContTitBox clearfix">
                                            <h6 class="infoContTit fl"><a href="javascript:;">20161116
                                                齐鲁老师《安全与如何安全》课程回顾</a>
                                            </h6>
                                        </div>
                                        <p class="infoCont">随着大企业不断向新业务领域扩展，随着大企业不断向新业务领域扩展</p>

                                        <div class="infoTool clearfix">
                                            <p class="fl">
                                                <img src="../images/infoImg.png">
                                                <span class="author">李炳权</span> . 发表于<span class="infoDays">20</span>天前
                                                <span class="infoBar">.培训平台-搜狐思想汇</span>
                                            </p>

                                            <div class="fr dw">
                                                <span class="infoStart fr">16</span>
                                                <span class="infoDisc fr">21</span>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li class="clearfix infoOneImg">
                                    <div class="item itemImg"><img src="../images/My-familY-home_03.gif"/></div>
                                    <div class="item infoContBox">
                                        <h6 class="infoContTit"><a href="##">狐厂19年生日快乐，大家嗨起来</a></h6>

                                        <p class="infoCont">很多人在做ppt的时候，都希望运用好的模板来把ppt做好</p>

                                        <div class="infoTool clearfix">
                                            <p class="fl">
                                                <img src="../images/infoImg.png">
                                                <span class="author">李炳权</span> . 发表于<span
                                                    class="infoDays">20</span>天前<span class="infoBar">小狐网自习</span>
                                            </p>

                                            <div class="fr dw">
                                                <span class="infoStart fr">16</span>
                                                <span class="infoDisc fr">21</span>
                                            </div>
                                        </div>
                                    </div>


                                </li>

                                <li class="clearfix infoOneImg">
                                    <div class="item itemImg"><img src="../images/My-familY-home_03.gif"/></div>
                                    <div class="item infoContBox">
                                        <h6 class="infoContTit"><a href="##">狐厂19年生日快乐，大家嗨起来</a></h6>

                                        <p class="infoCont">很多人在做ppt的时候，都希望运用好的模板来把ppt做好</p>

                                        <div class="infoTool clearfix">
                                            <p class="fl">
                                                <img src="../images/infoImg.png">
                                                <span class="author">李炳权</span> . 发表于<span class="infoDays">20</span>天前
                                                <span class="infoBar">.培训平台-搜狐思想汇</span>
                                            </p>

                                            <div class="fr dw">
                                                <span class="infoStart fr">16</span>
                                                <span class="infoDisc fr">21</span>
                                            </div>
                                        </div>
                                    </div>


                                </li>
                                <li class="clearfix infoListImg liTop">

                                    <div class="infoContBox">
                                        <div class="infoContTitBox clearfix">
                                            <h6 class="infoContTit fl"><a href="javascript:;">搜狐动力团
                                                齐鲁老师《安全与如何安全》课程回顾</a>
                                            </h6>
                                        </div>
                                        <div class="imgList">
                                            <ul class="imgItem clearfix">
                                                <li><img src="../images/family03.gif"/></li>
                                                <li><img src="../images/family03.gif"/></li>
                                                <li><img src="../images/family03.gif"/></li>
                                            </ul>
                                        </div>
                                        <div class="infoTool clearfix">
                                            <p class="fl">
                                                <img src="../images/infoImg.png">
                                                <span class="author">李炳权</span> . 发表于<span class="infoDays">20</span>天前
                                                <span class="infoBar">.培训平台-搜狐思想汇</span>
                                            </p>

                                            <div class="fr dw">
                                                <span class="infoStart fr">16</span>
                                                <span class="infoDisc fr">21</span>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li class="infoList clearfix liTop">

                                    <div class="infoContBox">
                                        <div class="infoContTitBox clearfix">
                                            <h6 class="infoContTit fl"><a href="javascript:;">20161116
                                                齐鲁老师《安全与如何安全》课程回顾</a>
                                            </h6>
                                        </div>
                                        <p class="infoCont">随着大企业不断向新业务领域扩展，随着大企业不断向新业务领域扩展</p>

                                        <div class="infoTool clearfix">
                                            <p class="fl">
                                                <img src="../images/infoImg.png">
                                                <span class="author">李炳权</span> . 发表于<span class="infoDays">20</span>天前
                                                <span class="infoBar">.培训平台-搜狐思想汇</span>
                                            </p>

                                            <div class="fr dw">
                                                <span class="infoStart fr">16</span>
                                                <span class="infoDisc fr">21</span>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li class="clearfix infoOneImg">
                                    <div class="item itemImg"><img src="../images/My-familY-home_03.gif"/></div>
                                    <div class="item infoContBox">
                                        <h6 class="infoContTit"><a href="##">狐厂19年生日快乐，大家嗨起来</a></h6>

                                        <p class="infoCont">很多人在做ppt的时候，都希望运用好的模板来把ppt做好</p>

                                        <div class="infoTool clearfix">
                                            <p class="fl">
                                                <img src="../images/infoImg.png">
                                                <span class="author">李炳权</span> . 发表于<span class="infoDays">20</span>天前
                                                <span class="infoBar">.培训平台-搜狐思想汇</span>
                                            </p>

                                            <div class="fr dw">
                                                <span class="infoStart fr">16</span>
                                                <span class="infoDisc fr">21</span>
                                            </div>
                                        </div>
                                    </div>


                                </li>
                                <li class="clearfix infoListImg liTop">

                                    <div class="infoContBox">
                                        <div class="infoContTitBox clearfix">
                                            <h6 class="infoContTit fl"><a href="javascript:;">搜狐动力团
                                                齐鲁老师《安全与如何安全》课程回顾</a>
                                            </h6>
                                        </div>
                                        <div class="imgList">
                                            <ul class="imgItem clearfix">
                                                <li><img src="../images/family03.gif"/></li>
                                                <li><img src="../images/family03.gif"/></li>
                                                <li><img src="../images/family03.gif"/></li>
                                            </ul>
                                        </div>
                                        <div class="infoTool clearfix">
                                            <p class="fl">
                                                <img src="../images/infoImg.png">
                                                <span class="author">李炳权</span> . 发表于<span class="infoDays">20</span>天前
                                                <span class="infoBar">.培训平台-搜狐思想汇</span>
                                            </p>

                                            <div class="fr dw">
                                                <span class="infoStart fr">16</span>
                                                <span class="infoDisc fr">21</span>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li class="infoList clearfix liTop">

                                    <div class="infoContBox">
                                        <div class="infoContTitBox clearfix">
                                            <h6 class="infoContTit fl"><a href="javascript:;">20161116
                                                齐鲁老师《安全与如何安全》课程回顾</a>
                                            </h6>
                                        </div>
                                        <p class="infoCont">随着大企业不断向新业务领域扩展，随着大企业不断向新业务领域扩展</p>

                                        <div class="infoTool clearfix">
                                            <p class="fl">
                                                <img src="../images/infoImg.png">
                                                <span class="author">李炳权</span> . 发表于<span class="infoDays">20</span>天前
                                                <span class="infoBar">.培训平台-搜狐思想汇</span>
                                            </p>

                                            <div class="fr dw">
                                                <span class="infoStart fr">16</span>
                                                <span class="infoDisc fr">21</span>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li class="clearfix infoOneImg">
                                    <div class="item itemImg"><img src="../images/My-familY-home_03.gif"/></div>
                                    <div class="item infoContBox">
                                        <h6 class="infoContTit"><a href="##">狐厂19年生日快乐，大家嗨起来</a></h6>

                                        <p class="infoCont">很多人在做ppt的时候，都希望运用好的模板来把ppt做好</p>

                                        <div class="infoTool clearfix">
                                            <p class="fl">
                                                <img src="../images/infoImg.png">
                                                <span class="author">李炳权</span> . 发表于<span class="infoDays">20</span>天前
                                                <span class="infoBar">.培训平台-搜狐思想汇</span>
                                            </p>

                                            <div class="fr dw">
                                                <span class="infoStart fr">16</span>
                                                <span class="infoDisc fr">21</span>
                                            </div>
                                        </div>
                                    </div>


                                </li>

                            </ul>
                        </div>
                        <div class="loadMore">
                            <a href="##">
                                <img src="../images/load_03.png"/>
                                <span>加载更多</span>
                            </a>
                            <a href="##">
                                <span>点击查看更多</span>
                                <img src="../images/right.png"/>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="contRightCont_right fr">

                <ul class="compBoard clearfix">
                    <li class="compImgList board1">
                        <a href="javascript:;">
                            <img class="bg" src="../images/us/blue/blue_01.png"/>
                            <img class="text" src="../images/us/gongsijieshao.png"/>
                        </a>
                    </li>
                    <li class="compImgList board2">
                        <a href="javascript:;">
                            <img class="bg" src="../images/us/blue/blue_02.png"/>
                            <img class="text" src="../images/us/qiyewenhua.png"/>
                        </a>
                    </li>
                    <li class="compImgList board3">
                        <a href="javascript:;">
                            <img class="bg" src="../images/us/blue/blue_03.png"/>
                            <img class="text" src="../images/us/dashiji.png"/>
                        </a>
                    </li>
                    <li class="compImgList board4">
                        <a href="javascript:;">
                            <img class="bg" src="../images/us/blue/blue_04.png"/>
                            <img class="text" src="../images/us/gongsicaibao.png"/>
                        </a>
                    </li>
                </ul>

                <div class="tabBox">
                    <ul class="tabTitBox clearfix">
                        <li class="tabTit active">
                            <p>审批列表 <span>6</span></p>
                        </li>
                        <li class="tabTit">
                            <p>绩效审批 <span>5</span></p>
                        </li>
                    </ul>

                    <div class="tabContBox">
                        <!-- 审批列表 -->
                        <ul class="tabListBox" style="display: block">
                            <li class="tabList clearfix">
                                <a href="javascript:;">
                                    <img class="apprImg fl" src="../images/appr.png">

                                    <div class="apprBox fl">
                                        <p class="apprTit">合同修订</p>

                                        <p class="apprConts clearfix">
                                            <span class="apprCont fl">有新的合同需要您审批</span>
                                            <span class="apprTime fr">11:45</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="tabList clearfix">
                                <a href="javascript:;">
                                    <img class="apprImg fl" src="../images/appr.png">

                                    <div class="apprBox fl">
                                        <p class="apprTit">合同修订</p>

                                        <p class="apprConts clearfix">
                                            <span class="apprCont fl">有新的合同需要您审批</span>
                                            <span class="apprTime fr">11:45</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="tabList clearfix">
                                <a href="javascript:;">
                                    <img class="apprImg fl" src="../images/appr.png">

                                    <div class="apprBox fl">
                                        <p class="apprTit">合同修订</p>

                                        <p class="apprConts clearfix">
                                            <span class="apprCont fl">有新的合同需要您审批</span>
                                            <span class="apprTime fr">11:45</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="tabList clearfix">
                                <a href="javascript:;">
                                    <img class="apprImg fl" src="../images/appr.png">

                                    <div class="apprBox fl">
                                        <p class="apprTit">合同修订</p>

                                        <p class="apprConts clearfix">
                                            <span class="apprCont fl">有新的合同需要您审批</span>
                                            <span class="apprTime fr">11:45</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="tabList clearfix">
                                <a href="javascript:;">
                                    <img class="apprImg fl" src="../images/appr.png">

                                    <div class="apprBox fl">
                                        <p class="apprTit">合同修订</p>

                                        <p class="apprConts clearfix">
                                            <span class="apprCont fl">有新的合同需要您审批</span>
                                            <span class="apprTime fr">11:45</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- 绩效审批 -->
                        <ul class="tabListBox">
                            <li class="tabList clearfix">
                                <a href="javascript:;">
                                    <img class="apprImg fl" src="../images/purse.png">

                                    <div class="apprBox fl">
                                        <p class="apprTit">合同修订</p>

                                        <p class="apprConts clearfix">
                                            <span class="apprCont fl">有新的合同需要您审批</span>
                                            <span class="apprTime fr">11:45</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="tabList clearfix">
                                <a href="javascript:;">
                                    <img class="apprImg fl" src="../images/purse.png">

                                    <div class="apprBox fl">
                                        <p class="apprTit">合同修订</p>

                                        <p class="apprConts clearfix">
                                            <span class="apprCont fl">有新的合同需要您审批</span>
                                            <span class="apprTime fr">11:45</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="tabList clearfix">
                                <a href="javascript:;">
                                    <img class="apprImg fl" src="../images/purse.png">

                                    <div class="apprBox fl">
                                        <p class="apprTit">合同修订</p>

                                        <p class="apprConts clearfix">
                                            <span class="apprCont fl">有新的合同需要您审批</span>
                                            <span class="apprTime fr">11:45</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="tabList clearfix">
                                <a href="javascript:;">
                                    <img class="apprImg fl" src="../images/purse.png">

                                    <div class="apprBox fl">
                                        <p class="apprTit">合同修订</p>

                                        <p class="apprConts clearfix">
                                            <span class="apprCont fl">有新的合同需要您审批</span>
                                            <span class="apprTime fr">11:45</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="tabList clearfix">
                                <a href="javascript:;">
                                    <img class="apprImg fl" src="../images/purse.png">

                                    <div class="apprBox fl">
                                        <p class="apprTit">合同修订</p>

                                        <p class="apprConts clearfix">
                                            <span class="apprCont fl">有新的合同需要您审批</span>
                                            <span class="apprTime fr">11:45</span>
                                        </p>
                                    </div>
                                </a>
                            </li>

                        </ul>

                        <p class="checkMore"><a href="#">点击查看更多 > </a></p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- cont_right end -->


</div>
<div class="footerContent myfaHeadCont">
   <span>Copyright &copy; 2017 Sohu.com Inc. All Rights Reserved. 搜狐公司 版权所有</span>
</div>
<!-- container start -->

<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/swipeImg.js"></script>
<script type="text/javascript" src="../js/iscroll.js"></script>

<script>



    $(function () {
        var timer = null;
        // 左侧菜单联动效果
        $('.menuTit').mouseenter(function () {
            var self = this;
            clearTimeout(timer);

            timer = setTimeout(function () {
                $('.menuChildBox').hide();
                $(self).next().show();
            }, 200);

            $('.menuTit').mouseleave(function () {
                clearTimeout(timer);
                timer = setTimeout(function () {
                    $('.menuChildBox').hide();
                }, 200);
            })
        });

        $('.menuChildBox').mouseenter(function () {
            var self = this;
            clearTimeout(timer);
            $(self).show();

            $('.menuChildBox').mouseleave(function () {
                clearTimeout(timer);
                timer = setTimeout(function () {
                    $(self).hide();
                }, 200);
            });
        });

        // 顶部搜索栏tab切换
        $('.searchTitList').on('click', function () {
            $('.searchTitList').removeClass('active');
            $(this).addClass('active');
        });

        //快速通道hover效果
        $('.cutListBox .cutList').on('mouseover', function () {
            $('.cutListBox .cutList').removeClass('active');
            $(this).addClass('active');
        });

        // 右侧选项卡
        $('.tabTit').on('click', function () {
            $('.tabTit').removeClass('active');
            $('.tabContBox .tabListBox').hide();

            $(this).addClass('active');
            $('.tabContBox .tabListBox').eq($(this).index()).show();
        });

        //hover员工名注销显示隐藏
        $('.workMenuBox').on('mouseover', function () {
            $('.logout').show();
        });
        $('.workMenuBox').on('mouseout', function () {
            $('.logout').hide();
        });

        // 注销事件
        $('.logout').on('click', function () {
            $(this).hide();
        });

        //信息中心显示隐藏菜单栏
        $('.cutToolsTitBox').on('click', function () {
            $(this).next().toggle();
            return false;
        });
        $('.cutToolsList').on('click', function () {
            var thisHtml = $(this).text();
            $('#cutToolsTit').text(thisHtml);
            $(this).parent().hide();
        });

        // 点击空白处下拉菜单隐藏
        $('body').on('click', function () {
            if ($('.cutTools').css('display') == 'block') {
                $('.cutTools').hide();
            }
        });


        //设置右侧轮播图父级高度自适应
        var compH = parseInt($('.compSwipeBox').css('width')) * 0.24654;
        $('.compSwipeBox').css('height', compH);
        $('.compList').css('height', compH);


        // 左侧轮播图
        swipeImg('pic_list', {
            'animateTime': 600,
            'intervalTime': 3000,
            'showPicNum': 2
        });

        swipeImg('comp_list', {
            'animateTime': 600,
            'intervalTime': 4000,
            'clickBar': true
        });

        /*左右固定定位*/
        if (document.documentElement.clientWidth > 1024) {
            $(window).scroll(function () {
                //1.7.1
                /*if (document.documentElement.scrollTop || document.body.scrollTop > 865) {
                 $('.cont_left ').css({position: 'fixed', top: '-768px'});
                 } else {
                 $('.cont_left ').css({position: 'static', top: '0'});
                 }
                 if (document.documentElement.scrollTop || document.body.scrollTop > 442) {
                 $('.tabBox ').css({position: 'fixed', top: '93px', width: '309.63px'});
                 } else {
                 $('.tabBox ').css({position: 'static', top: '0'});
                 }*/

                var width = document.documentElement.clientWidth || document.body.clientWidth;
                //1.7.2
                if (width > 1024) {
                    if (document.documentElement.scrollTop || document.body.scrollTop > 513) {
                        $('.knowledge').css({position: 'fixed', top: '90px', background: '#fff', width: '250px'});
                    } else {
                        $('.knowledge').css({position: 'static', top: '0'});
                    }
                    if (document.documentElement.scrollTop || document.body.scrollTop > 440) {
                        $('.translateRight ').css({
                            position: 'fixed',
                            top: '105px',
                            left: '1040px',
                            background: '#fff',
                            width: '250px'
                        });
                        $('.rbott ').css({
                            position: 'fixed',
                            top: '222px',
                            left: '1040px',
                            background: '#fff',
                            width: '250px'
                        });
                    } else {
                        $('.translateRight ').css({position: 'absolute', top: '442px', left: '1033px'});
                        $('.rbott ').css({position: 'absolute', top: '564px', left: '1033px'});
                    }
                }
            });
        }

        /*推荐圈子 员工论坛移到右侧 className translateRight*/
        function removeClass() {
            var $current = $('.repository.nobd.zone');
            var $rbott = $('.rbott');
            var width = document.documentElement.clientWidth || document.body.clientWidth;
            if (width < 1025) {
                if ($current.hasClass('translateRight')) {
                    $current.removeClass('translateRight');
                    $rbott.removeClass('translateRBott');
                }
            } else {
                if (!$current.hasClass('translateRight')) {
                    $current.addClass('translateRight');
                    $rbott.addClass('translateRBott');
                }
            }
        }
        removeClass();
        /*pc 获取信息中心数据*/
        $(window).scroll(function () {
            if (document.documentElement.clientWidth > 1024) {
                if ($(document).scrollTop() + $(window).height() > $('.infoCenterBox').offset().top + $('.infoCenterBox').outerHeight()) {
                    $('.loadMore img').css({animation: 'change 1s linear infinite'});
                    setTimeout(function () {
                        $('.loadMore').hide();
                        var str = $('.infoBox').html() + "<li style='height:100px'>111</li>";
                        $('.infoBox').html(str)
                    }, 2000)
                }
                $('.loadMore').show();
            }
        });

        // 信息中心内容滚动

        if (document.documentElement.clientWidth < 1025) {
            $('.searchBox input').attr('placeholder','');
            var scroll = new IScroll('#infoBox', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true,
            });
            var $infoBox = $('.infoBox');
            var $loadMore = $('.loadMore');
            $infoBox.append($loadMore);
            /*$loadMore.on('click',function(){
                console.log(111)
                $loadMore.remove();
                var str = $infoBox.html()+'<li>111</li>';
                $infoBox.html(str);
                $infoBox.append($loadMore);

            })*/
            scroll.on('scrollEnd',function(){
                if(Math.abs(this.y)+420+100>$('.infoBox')[0].scrollHeight){
                    $loadMore.remove();
                    var str = $infoBox.html()+'<li>111</li>';
                    $infoBox.html(str);
                    $infoBox.append($loadMore);
                }
            })
        }
    })
</script>
</body>
</html>