<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>快速通道</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport"/>

	<link rel="stylesheet" type="text/css" href="../css/myfamily.css">

</head>
<body>
	<!-- head start -->
	<div class="myFamily_head">
		<div class="myfaHeadCont clearfix">
			<div class="logoBox clearfix fl">
				<img class="logo fl" src="../images/logo.png">
				<img class="fl" src="../images/myfamily.png">
			</div>
			<div class="myfaHeadContRight fr clearfix">
				<div class="searchBox fl">
					<img src="../images/searchBar.png">
					<input type="text" name="" placeholder="请输入您要查找的内容">
					<ul class="searchTitBox clearfix">
						<li class="searchTitList gradient active">找人员</li>
						<li class="searchTitList gradient">找文章</li>
						<li class="searchTitList gradient">找会议室</li>
					</ul>
				</div>
				<div class="suggBox fl">
					<img src="../images/suggession.png">
					<span>员工建议</span>
				</div>
				<div class="talkBox fl">
					<img src="../images/manTalk.png">
					<span>员工倾诉</span>
				</div>

				<div class="workMenuBox fr">
					<p class="workMenu">Hi~狐小美</p>
					<p class="logout">注销</p>
				</div>

			</div>
		</div>
	</div>
	<!-- head end -->

	<!-- container start -->
	<div class="myFamily_cont clearfix">
		<div class="g-fastTrack">
			<!-- 财务相关流程 -->
			<div class="fastBox finance">
				<h5 class="fastTit">财务相关流程</h5>
				<ul class="fastCont clearfix">
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/finance/finance1.png">
						</div>
						<p class="fastTit_child">报销申请</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/finance/finance2.png">
						</div>
						<p class="fastTit_child">PR单申请</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/finance/finance3.png">
						</div>
						<p class="fastTit_child">差旅申请</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/finance/finance4.png">
						</div>
						<p class="fastTit_child">付款申请</p>
					</li>

				</ul>
			</div>
			<!-- 人事相关流程 -->
			<div class="fastBox personnel">
				<h5 class="fastTit">人事相关流程</h5>
				<ul class="fastCont clearfix">
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/personnel/personnel1.png">
						</div>
						<p class="fastTit_child">薪酬福利</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/personnel/personnel2.png">
						</div>
						<p class="fastTit_child">考勤管理</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/personnel/personnel3.png">
						</div>
						<p class="fastTit_child long">组织结构图系统</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/personnel/personnel4.png">
						</div>
						<p class="fastTit_child">年度体检</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/personnel/personnel5.png">
						</div>
						<p class="fastTit_child">知识分享</p>
					</li>

				</ul>
			</div>
			<!-- 办公相关流程 -->
			<div class="fastBox job">
				<h5 class="fastTit">办公相关流程</h5>
				<ul class="fastCont clearfix">
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/job/job1.png">
						</div>
						<p class="fastTit_child">会议室预定</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/job/job2.png">
						</div>
						<p class="fastTit_child">访客申请</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/job/job3.png">
						</div>
						<p class="fastTit_child">维修中心</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/job/job4.png">
						</div>
						<p class="fastTit_child">耗材申请</p>
					</li>

				</ul>
			</div>
			<!-- 法务相关流程 -->
			<div class="fastBox law">
				<h5 class="fastTit">法务相关流程</h5>
				<ul class="fastCont clearfix">
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/law/law1.png">
						</div>
						<p class="fastTit_child">合同申请</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/law/law2.png">
						</div>
						<p class="fastTit_child">合同审批</p>
					</li>

				</ul>
			</div>
			<!-- 业务相关流程 -->
			<div class="fastBox business">
				<h5 class="fastTit">业务相关流程</h5>
				<ul class="fastCont clearfix">
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/business/business1.png">
						</div>
						<p class="fastTit_child long">视频版权管理系统</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/business/business2.png">
						</div>
						<p class="fastTit_child long">礼品申请系统</p>
					</li>
					<li class="fastList">
						<div class="imgBox">
							<img src="../images/fastTrack/business/business3.png">
						</div>
						<p class="fastTit_child long">Tech-NO WIKI</p>
					</li>

				</ul>
			</div>

		</div>
		<!-- footer -->
		<div class="g-footer">
			<p class="btn cancel mr62">取消</p>
			<p class="btn save">保存</p>
		</div>
	</div>
	<!-- container end -->

	<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
	
	<script>
		$(function(){			
			// 顶部搜索栏tab切换
			$('.searchTitList').on('click',function(){
				$('.searchTitList').removeClass('active');
				$(this).addClass('active');
			});			

			//hover员工名注销显示隐藏
			$('.workMenuBox').on('mouseover',function(){
				$('.logout').show();
			});
			$('.workMenuBox').on('mouseout',function(){
				$('.logout').hide();
			});

			// 注销事件
			$('.logout').on('click',function(){
				$(this).hide();
			});

			// 快速通道二级页面选择图标事件 begin
			$('.g-fastTrack .imgBox').on('click',function(){
				chooseFastIcon(this);
			});

			function chooseFastIcon(obj){
				if($(obj).hasClass('active')){     //如果obj已经选中就去掉active类
					if($(obj).find('img').length == 2){  //去掉右上角对号小图标
						$(obj).find('img').last().remove();
					}
					$(obj).removeClass('active');
					AjustActiveNum();
				}else{      //如果obj没有选中就加上active类
					var checkedImg=$('<img src=\"../images/fastTrack/fast-active.png\">');  //创建一个右上角对号小图标并append
					checkedImg.css({'width':'20px', 'height':'20px', 'position':'absolute', 'right':'2px', 'top':'2px'});
					$(obj).append(checkedImg);

					$(obj).addClass('active');
					AjustActiveNum();
				}
			}
			//判断选中个数并执行相应操作函数
			function AjustActiveNum(){
				var chooseNum=$('.g-fastTrack').find('.active').length;
				if(chooseNum == 6){  //如果选中个数等于6
					$('.g-fastTrack .imgBox').each(function(i){
						if($('.g-fastTrack .imgBox').eq(i).hasClass('active')){    //已经选中的仍可点击
							$('.g-fastTrack .imgBox').eq(i).css('cursor', 'pointer');
						}else{     //剩下未选中的不可点击
							$('.g-fastTrack .imgBox').eq(i).css('cursor', 'not-allowed');
							$('.g-fastTrack .imgBox').eq(i).off();
						}
					});

					//保存按钮变红
					$('.g-footer .save').css({'background': '#f86d5f', 'cursor': 'pointer'});  
					
				}else{  //如果选中个数小于6
					//保存按钮变灰
					$('.g-footer .save').css({'background': '#b9b9b9', 'cursor': 'not-allowed'});  
					$('.g-fastTrack .imgBox').css('cursor', 'pointer');
					$('.g-fastTrack .imgBox').off();
					$('.g-fastTrack .imgBox').on('click',function(){  //重新绑定事件
						chooseFastIcon(this);
					});
				}
			}
			// 快速通道二级页面选择图标事件 end

		})
	</script>
</body>
</html>